# Environment variables for the GEMS database module
DATABASE_CONFIG_FILE=
DATABASE_CONFIG_FILE_SECTION=

# RabbitMQ related environment variables
RABBIT_MQ_USER=
RABBIT_MQ_PASSWORD=
RABBIT_MQ_VHOST=

# Queue name for the logging service
LOGGER_QUEUE_NAME=
QUEUE_SERVICE_NAME=

# Mail server connection parameters
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=
MAIL_PORT=